.about-me {
    
    text-align: left;
    margin-left: 3em;
    margin-right: 50%;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
 
}
.hi {
    font-size: 200%;
   
}
@media (max-width: 768px) {
    .about-me {
        margin-right: 3em; /* Adjust the margin for narrower screens */
    }
}